<header>
  <div id="navbar" class="navbar-shadow page_header">
    <a href="{{site.baseurl}}/" class="logo_n">
      {%- if site.logo -%}
        <img src="{{site.logo}}" alt="site logo">
        {%- else -%}
        {{site.title}}
        {%- endif -%}
    </a>
    <div id="nav_top" class="hidden_small navbar-right">
        {%- for i in site.data.navigation -%}
        {%- if i.link contains "://" -%}
            <a href="{{i.link}}">{{i.name}}</a>
            {%- else -%}
            <a href="{{site.baseurl}}/{{i.link}}">{{i.name}}</a>
            {%- endif -%}
        {%- endfor -%}
    </div>
    {%- include hamburger.html -%}
  </div>
</header>

<script>
  /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */

  let prevScrollpos = window.pageYOffset;
  window.addEventListener("scroll", function() {
      const currentScrollPos = window.pageYOffset;

      // Don't do slide if the hamburger is open
      const toggler = document.getElementById("hamburger");
      if (toggler.classList.contains("opened") || currentScrollPos === 0) {
        document.getElementById("navbar").style.top = "0";
        prevScrollpos = currentScrollPos;
        return;
      }

      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-60px";
      }

      prevScrollpos = currentScrollPos;
  });
</script>