<header class="page_header"  style="padding: {{site.data.sizes.header-padding}} 0; position: relative">
    <a href="{{site.baseurl}}/" class="logo_n">
      {%- if site.logo -%}
        <img src="{{site.logo}}" alt="site logo">
        {%- else -%}
        {{site.title}}
        {%- endif -%}
    </a>
    <nav class="hidden_small" id="nav_top">
        {%- for i in site.data.navigation -%}
        {%- if i.link contains "://" -%}
            <a href="{{i.link}}">{{i.name}}</a>
            {%- else -%}
            <a href="{{site.baseurl}}/{{i.link}}">{{i.name}}</a>
            {%- endif -%}
        {%- endfor -%}
    </nav>
    {%- include hamburger.html -%}
</header>