.page_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: #000 solid 1px;
  a {
    text-decoration: none;
    color: #000;
    font-size: 23px;
  }
  .logo {
    font-weight: bold;
    justify-self: start;
    text-align-last: left;
    margin: 0;
  }
}
#nav_top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger {
  position: absolute;
  right: 15px;
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  cursor: pointer;
  padding: 5px;
  margin-top: 4px;
  .hamburger-box {
    width: 20px;
    height: 14px;
    display: inline-block;
    position: relative;
  }
}
.hamburger .hamburger-inner {
  display: block;
  top: 1px;
  margin-top: -1px;
}
.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger .hamburger-inner::before {
  top: 6px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
.hamburger .hamburger-inner::after {
  top: 12px;
}
.hamburger.opened .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-2.8571428571px, -4px, 0);
  opacity: 0;
}
.hamburger.opened .hamburger-inner::after {
  transform: translate3d(0, -12px, 0) rotate(-90deg);
}
.hamburger.opened .hamburger-inner {
  transform: translate3d(0, 6px, 0) rotate(45deg);
}
@media (max-width: 1023px) {
  #nav_top.hidden_small {
    display: none;
  }
}
@media (min-width: 1024px) {
  .page_header {
    margin-left: auto;
    margin-right: auto;
    width: 58vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .hamburger {
    display: none;
  }
  #nav_top {
    flex-direction: row;
    gap: 30px;
  }
}
