---
layout: default
---
<article>
    <div class="Margins">
        <div class="center">
            <h1 class="LatexTitle" style="padding-top: {{site.data.sizes.title-top-margin}}; padding-bottom: {{site.data.sizes.title-bottom-margin}}">{{ page.title }}</h1>
            {%- if page.subtitle -%}
            <h1 class="LatexTitle" style="padding-top: {{site.data.sizes.title-top-margin}}; padding-bottom: {{site.data.sizes.title-bottom-margin}}">{{ page.subtitle }}</h1>
            {%- endif -%}
            <p class="LatexName">{{ page.author }}</p>
            <p class="LatexDate">
                {{ page.date | date: '%B %-d, %Y' }}
            </p>
            {%- if page.abstract -%}
            <div class="AbstractMargins">
                <h3 class="LatexAbstract">
                    Abstract
                </h3>
                <p class="LatexAbstractText">{{page.abstract}}</p>
            </div>
            {%- endif -%}

        </div>

        <div class="divider"></div>

        {{ content }}

    </div>
</article>