---
layout: default
---

<article>
    <div class="Margins">
    <div class="center">
        <h1 class="LatexTitle">{{ page.title }}</h1>
        <p class="LatexName">{{ page.author }}</p>
        <p class="LatexDate">
            {{ page.date | date: '%B %-d, %Y' }}
        </p>

        <div class="AbstractMargins">
            <h3 class="LatexAbstract">
                Abstract
            </h3>
            <p class="LatexAbstractText">{{page.abstract}}</p>
        </div>

    </div>

    <div class="divider"></div>

    {{ content }}

    </div>
</article>
